# ── Database ───────────────────────────────────────────────────────────────────
DB_NAME=bus_route_db
DB_USERNAME=bus_route_user
DB_PASSWORD=bus_route_pass

# ── Сервер ─────────────────────────────────────────────────────────────────────
SERVER_HOST=duralga.ulgam.biz

# ── GPS API ────────────────────────────────────────────────────────────────────
GPS_API_BASE_URL=https://gps.tugdk.gov.tm
GPS_API_TOKEN=CHANGE_ME

# ── Bus Info API ───────────────────────────────────────────────────────────────
BUS_INFO_API_BASE_URL=https://edu.ayauk.gov.tm/gps/buses
BUS_INFO_API_USERNAME=turkmenportal
BUS_INFO_API_PASSWORD=turkmenportal

# ── Nominatim ──────────────────────────────────────────────────────────────────
NOMINATIM_PASSWORD=nominatim_str0ng_pass
